<!DOCTYPE html>
<html>
<head>
  <title>Online Canteen</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
  html{
  height: 100%;
  }
  body{
  font-family: "lora";
  font-size: 28px;
  background-image:url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  opacity:0.9;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height:100%;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
  }
  .navbar-default{
  background-color: #f49f1c;
  border-radius: 0;
  color: white;
  border-color: #00154f;
  }
  .navbar-default .navbar-nav> li> a{
  color:white;
  }
  .navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li> a:focus{
  background-color: #f2bc94;
  }
  #active{
  background-color: #881916;
  }
  #main-content{
    margin-top: 70px;
    opacity: 1;
  }
  table{
  width: 80%;
  color: ;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 30px;
  }
  tr{
  border-bottom: 1px solid #f49f1c;
  }
  th{
    font-size: 26px;
  }
  td{
  font-size: 22px;
  }
  </style>
</head>
<body>
   <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/order">Order Here!</a></li>
   </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="active"><a href="/history">History</a></li>
        <li><a href="/logout">Logout</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div id="main-content">
    <table>
      <tr>
        <th>Item Name</th>
        <th>Item Cost</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Time and Date</th>
      </tr>
      <% order.forEach(function(order){ %>
      <tr>
        <td><%= order.order_name %></td>
        <td><%= order.order_cost %> Rs</td>
        <td><%= order.order_quantity %></td>
        <td><%= order.order_total%></td>
        <td><%= order.date.toDateString()%></td>
        <% }) %>
      </tr>
    </table>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/script.js"></script>

</body>
</html>