<!DOCTYPE html>
<html>
<head>
  <title>Online Canteen</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style type="text/css">
    body{
  font-family: "lora";
  font-size: 28px;
  background-image:url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  opacity:0.9;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  height:100%;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
  }
  .navbar-fixed-top .navbar-nav> li> a{
  color:white;
  }
  .navbar-fixed-top .navbar-nav> li> a:hover, .navbar-fixed-top .navbar-nav> li> a:focus{
  background-color: #f2bc94;
  }
  #active{
  background-color: #881916;
  }
  #main-content{
    margin-top: 20px;
  }
  table{
  width: 80%;
  color: white ;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
  }
  tr{
  border-bottom: 1px solid #f49f1c;
  }
  th{
    font-size: 26px;
  }
  td{
  font-size: 22px;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="active"><a href="#">Menu</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/accept">View Orders</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/data">History</a></li>
        <li><a href="/logout">Logout</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div id="main-content">
    <table>
      <tr>
        <th>Sr.No </th>
        <th>Item Name</th>
        <th>Item Cost</th>
        <th>Item Status</th>
        <th></th>
      </tr>
      <% item.forEach(function(item){ %>
      <tr>
        <td><%= item.sr_no %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_cost %></td>
        <td><%= item.item_status %></td>
        <td><button class="btn btn-info" style="margin: 2px;"><a href="/index/<%= item.id%>" style="font-size:18px; color: white; text-decoration: none; ">Manage</a></button></td>
      </tr>
      <% }); %>
    </table>    
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/script.js"></script>
  <script src="popupS.js"></script>
</body>
</html>